.about-us {
  min-height: 100vh;
  margin-top: 150px;

  &__header {
    font-family: $font__header--bar;
    font-size: $font-header;
    padding: 40px 0;
    transform: translateX(25%);
  }

  &__paragraph--odd {
    display: flex;
    justify-content: flex-end;
    padding: 50px 0;
  }

  &__text--odd {
    flex-basis: 50%;
    font-family: $font__paragraph;
    font-size: $font-paragraph;
    text-align: right;
    vertical-align: middle;
    padding-right: 120px;
  }

  &__img--odd {
    height: $img-height;
    box-shadow: 10px -10px 0 $secondary;
  }

  &__paragraph--even {
    display: flex;
    justify-content: flex-start;
    padding: 50px 0;
  }

  &__text--even {
    flex-basis: 50%;
    font-family: $font__paragraph;
    font-size: $font-paragraph;
    text-align: left;
    vertical-align: middle;
    padding-left: 120px;
    order: 1;
  }

  &__img--even {
    height: $img-height;
    box-shadow: -10px 10px 0 $secondary;
  }

  &__img--odd {
    order: 1;
  }

  &__last-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 1;

    &--mobile {
      display: none;
    }
  }
}

@media (max-width: 1024px) {
  .about-us {
    &__img--odd {
      float: left;
      margin: 15px 15px 15px 0;
      box-shadow: -10px -10px 0 $secondary;
    }

    &__img--even {
      float: right;
      margin: 15px 0 15px 15px;
      box-shadow: 10px -10px 0 $secondary;
    }

    &__img--odd,
    &__img--even {
      height: calc(80vw - 380px);
      max-height: 280px;
    }

    &__text--odd {
      padding-right: 20px;
    }

    &__text--even {
      padding-left: 20px;
    }
  }
}

@media (max-width: 735px) {
  .about-us {
    min-height: unset;
    margin: 30px 0;
    &__header {
      font-size: $font-header--mobile;
      transform: unset;
    }
    &__paragraph--odd,
    &__paragraph--even {
      display: block;
      padding: 0;
      margin: 30px 0;
    }

    &__text--odd,
    &__text--even {
      text-align: justify;
      vertical-align: top;
      font-size: $font-paragraph--mobile;
      padding: 0;
    }

    &__last-paragraph {
      display: none;

      &--mobile {
        display: block;
        width: 100%;
        padding: 0;
      }
    }

    &__img--odd,
    &__img--even {
      height: calc(80vw - 180px);
      max-height: 280px;
    }
  }
}
