.menu {
  min-height: 100vh;
  margin-top: 100px;

  &__header {
    font-family: $font__header--bar;
    font-size: $font-header;
    text-align: center;
    padding: 50px 0;
  }

  &__container {
    display: flex;
    height: 80vh;
  }

  &__left,
  &__right {
    display: flex;
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
  }

  &__img--hand {
    position: absolute;
    height: 46%;
    transform: rotateZ(10deg) translateY(-25vh);
    left: -7%;
  }

  &__btn {
    font-family: $font__header--bar;
    font-size: $font-header;
    border-radius: 32px;
    padding: 20px 80px;
    background-color: $primary-light;
    border: none;
    box-shadow: 3px 3px 0 $secondary;

    &:active {
      transform: translateX(3px) translateY(3px);
      box-shadow: none;
    }

    &:focus {
      outline: none;
    }
  }

  &__link {
    text-decoration: none;
    color: $primary-dark;
  }

  &__text {
    font-family: $font__paragraph;
    font-size: $font-paragraph;
    width: 55%;
    line-height: 1.6rem;
  }
}
