html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  box-sizing: inherit;
}

.container {
  max-width: 1340px;
  height: inherit;
  margin: 0 auto;
  padding: 0 30px;
}

$primary-dark: #000;
$primary-light: #fec300;
$secondary: #fff;

$font__header--school: "Gloria Hallelujah", cursive;
$font__header--bar: "Anton", sans-serif;
$font__paragraph: "Lato", sans-serif;

$font-header: 2.3rem;
$font-paragraph: 20px;
$font-paragraph--about: 20px;
$font-icon: 2rem;
$font-header--mobile: 1.6rem;
$font-paragraph--mobile: 16px;
$font-icon--mobile: 1.3rem;

$breakpoint--middle-screen: 1660px;
$breakpoint--small-screen: 1260px;
$breakpoint--mobile-big: 700px;

$nav-height: 120px;
$img-height: 250px;
$img-height--mobile: calc(60vw - 150px);
