html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  overflow: hidden;
}

$primary-dark: #000;
$primary-light: #fec300;
$secondary: #fff;
$breakpoint--middle-screen: 1660px;
$breakpoint--small-screen: 1360px;
$breakpoint--mobile-big: 700px;
