.hero-landing {
  height: 100vh;
  width: 100vw;
  background-image: url("../images/landing-page__background.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  overflow: inherit;
  position: relative;

  &__left,
  &__right {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
  }

  &__tag-school {
    height: 200px;
    position: relative;
    top: 11px;
  }

  &__tag {
    height: 250px;
    position: relative;
    bottom: 10px;
  }

  &__right-hand,
  &__left-hand {
    position: absolute;
    width: auto;
    overflow: hidden;
  }

  &__left-hand {
    transform: rotate(5deg);
    height: 320px;
    top: 3%;
    left: -60px;
  }

  &__right-hand {
    transform: rotate(15deg);
    height: 380px;
    bottom: 0;
    right: -2%;
  }
}

@media (max-width: $breakpoint--middle-screen) {
  .hero-landing {
    &__left-hand {
      height: 280px;
    }

    &__right-hand {
      height: 320px;
    }
  }
}

@media (max-width: $breakpoint--mobile-big) {
  .hero-landing {
    background-image: url("../images/landing-page__background--phone.svg");
    display: grid;
    grid-template-rows: repeat(2, 50%);
    grid-template-columns: repeat(2, 50%);
    justify-items: center;
    align-items: center;

    &__right {
      grid-area: 2/2;
    }

    &__left,
    &__right {
      width: 100%;
      padding: 0 4px;
    }

    &__link {
      height: 80%;
    }

    &__tag,
    &__tag-school {
      width: 100%;
    }

    &__left-hand,
    &__right-hand {
      display: none;
    }
  }
}
