.courses {
  &__header {
    margin-top: 70px;
    font-family: $font__header--school;
    font-size: $font-header;
    text-shadow: 3px 3px 0 $secondary;
    text-align: left;
  }

  &__paragraph--odd {
    display: flex;
    margin: 40px 0;
    flex-direction: row-reverse;
  }

  &__paragraph--even {
    display: flex;
    margin: 40px 0;
  }

  &__description--even {
    text-align: right;
  }

  &__title--odd,
  &__title--even {
    font-family: $font__header--school;
    font-size: $font-header;
  }

  &__text--odd {
    font-family: $font__paragraph;
    font-size: $font-paragraph;
    padding-right: 160px;
    text-align: justify;
  }

  &__text--even {
    font-family: $font__paragraph;
    font-size: $font-paragraph;
    padding-left: 160px;
    text-align: justify;
  }

  &__img--odd,
  &__img--even {
    object-fit: contain;
    object-position: top;
    width: 18%;
    margin-top: 36.8px;
  }

  &__list {
    font-family: $font__paragraph;
    font-size: $font-paragraph;

    &--level-up {
      text-align: left;
      padding-left: 185px;
    }

    &--beginning {
      padding-left: 20px;
    }
  }
}

@media (max-width: 1024px) {
  .courses {
    &__header,
    &__title--odd,
    &__title--even {
      font-size: $font-header--mobile;
    }

    &__text--odd,
    &__text--even {
      font-size: $font-paragraph--mobile;
      padding: 0;
    }

    &__list {
      padding-left: 17px;
      font-size: inherit;
    }

    &__img--odd,
    &__img--even {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
}

@media (max-width: 735px) {
  .courses {
    &__header {
      margin-top: 80px;
    }

    &__img--odd,
    &__img--even {
      width: 40%;
      display: flex;
      order: 1;
      margin-top: 0;
    }

    &__img {
      &--odd {
        float: right;
      }
      &--even {
        float: left;
      }
    }

    &__paragraph--odd,
    &__paragraph--even {
      display: block;
      margin: 20px 0;
    }

    &__title--odd,
    &__title--even {
      margin: 0;
    }

    &__text--odd,
    &__text--even {
      text-align: justify;
    }
  }
}
