.nav {
  width: 100%;
  height: $nav-height;
  box-shadow: 0 4px 6px $primary-dark;
}

.navigation {
  height: inherit;
  width: 100%;
  margin: 0 auto;
  display: flex;
  font-family: $font__header--school;

  &__left,
  &__right {
    width: 50%;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-header;
  }

  &__logo {
    height: 100px;
  }

  &__link {
    text-decoration: none;
    color: $primary-dark;

    &:active {
      transform: translateX(3px) translateY(3px);
    }

    &--btn {
      color: $primary-light;
    }
  }

  &__lang-switch {
    font-family: $font__header--school;
    background-color: $primary-dark;
    border: none;
    border-radius: 25px;
    box-shadow: 3px 3px 0 $secondary;
    padding: 5px 15px;

    &:active {
      transform: translateX(3px) translateY(3px);
      box-shadow: none;
    }
  }
}
