.courses {
  &__header {
    font-family: $font__header--school;
    font-size: $font-header;
    text-shadow: 3px 3px 0 $secondary;
    text-align: right;
    padding-right: 200px;
  }

  &__paragraph--odd {
    display: flex;
    margin: 80px 0;
  }

  &__paragraph--even {
    display: flex;
    flex-direction: row-reverse;
    margin: 80px 0;
  }

  &__description--even {
    text-align: right;
  }

  &__title--odd,
  &__title--even {
    font-family: $font__header--school;
    font-size: $font-header;
  }

  &__text--odd {
    font-family: $font__paragraph;
    font-size: $font-paragraph;
    padding-right: 160px;
    text-align: justify;
  }

  &__text--even {
    font-family: $font__paragraph;
    font-size: $font-paragraph;
    padding-left: 160px;
    text-align: justify;
  }

  &__img--odd,
  &__img--even {
    height: $img-height;
  }

  &__list {
    font-family: $font__paragraph;
    font-size: $font-paragraph;

    &--level-up {
      text-align: left;
      padding-left: 185px;
    }
  }
}

@media (max-width: 1024px) {
  .courses {
    &__header,
    &__title--odd,
    &__title--even {
      font-size: $font-header--mobile;
    }

    &__text--odd,
    &__text--even {
      font-size: $font-paragraph--mobile;
      padding: 0;
    }

    &__list {
      padding-left: 17px;
      font-size: inherit;
    }

    &__img--odd,
    &__img--even {
      height: $img-height--mobile;
    }
  }
}

@media (max-width: 735px) {
  .courses {
    &__header {
      margin-top: 80px;
    }

    &__img--odd,
    &__img--even {
      display: none;
    }

    &__paragraph--odd,
    &__paragraph--even {
      display: block;
      margin: 30px 0;
    }

    &__title--odd,
    &__title--even {
      margin: 0;
    }

    &__text--odd,
    &__text--even {
      text-align: justify;
    }
  }
}
