html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  max-width: 1440px;
  height: inherit;
  margin: 0 auto;
  padding: 0 30px;
}

body {
  background-color: #000;
  color: #fec300;
}

.nav {
  width: 100%;
  height: 120px;
  -webkit-box-shadow: 0 4px 6px #fec300;
          box-shadow: 0 4px 6px #fec300;
}

.navigation {
  height: inherit;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Anton", sans-serif;
}

.navigation__left, .navigation__right {
  width: 50%;
}

.navigation__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__right {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.3rem;
}

.navigation__logo {
  height: 100%;
}

.navigation__link {
  text-decoration: none;
  color: #fec300;
}

.navigation__link--btn {
  color: #000;
}

.navigation__lang-switch {
  font-family: "Anton", sans-serif;
  background-color: #fec300;
  border: none;
  border-radius: 25px;
  -webkit-box-shadow: 3px 3px 0 #fff;
          box-shadow: 3px 3px 0 #fff;
  padding: 5px 15px;
}

.navigation__lang-switch:active {
  -webkit-transform: translateX(3px) translateY(3px);
          transform: translateX(3px) translateY(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero {
  min-height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.hero__img-container1 {
  height: calc(100vh - 120px);
}

.hero__img--lady {
  position: absolute;
  height: 67%;
  -webkit-transform: rotate(17deg) translateY(18%);
          transform: rotate(17deg) translateY(18%);
}

.hero__header {
  font-family: "Anton", sans-serif;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 54px;
  text-shadow: 2px 2px 0 #fff;
  letter-spacing: 3px;
  position: relative;
  -webkit-transform: translateY(-200%) translateX(25%);
          transform: translateY(-200%) translateX(25%);
}

.hero__img-container2 {
  height: calc(100vh - 120px);
}

.hero__img--hand {
  height: 100%;
  position: absolute;
  -webkit-transform: rotateZ(-10deg) translateX(-85%) translateY(-13%);
          transform: rotateZ(-10deg) translateX(-85%) translateY(-13%);
}

.about-us {
  min-height: 100vh;
  margin-top: 150px;
}

.about-us__header {
  font-family: "Anton", sans-serif;
  font-size: 2.3rem;
  padding: 40px 0;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}

.about-us__paragraph--odd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px 0;
}

.about-us__text--odd {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-family: "Gothic A1", sans-serif;
  font-size: 20px;
  text-align: right;
  vertical-align: middle;
  padding-right: 120px;
}

.about-us__img--odd {
  height: 380px;
  -webkit-box-shadow: 10px -10px 0 #fff;
          box-shadow: 10px -10px 0 #fff;
}

.about-us__paragraph--even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 50px 0;
}

.about-us__text--even {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-family: "Gothic A1", sans-serif;
  font-size: 20px;
  text-align: left;
  vertical-align: middle;
  padding-left: 120px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about-us__img--even {
  height: 380px;
  -webkit-box-shadow: -10px 10px 0 #fff;
          box-shadow: -10px 10px 0 #fff;
}

.menu {
  min-height: 100vh;
  margin-top: 100px;
}

.menu__header {
  font-family: "Anton", sans-serif;
  font-size: 2.3rem;
  text-align: center;
  padding: 50px 0;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
}

.menu__left, .menu__right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__img--hand {
  position: absolute;
  height: 48%;
  -webkit-transform: rotateZ(10deg) translateY(-25vh);
          transform: rotateZ(10deg) translateY(-25vh);
  left: -5%;
}

.menu__btn {
  font-family: "Anton", sans-serif;
  font-size: 2.3rem;
  border-radius: 32px;
  padding: 20px 80px;
  background-color: #fec300;
  border: none;
  -webkit-box-shadow: 3px 3px 0 #fff;
          box-shadow: 3px 3px 0 #fff;
}

.menu__btn:active {
  -webkit-transform: translateX(3px) translateY(3px);
          transform: translateX(3px) translateY(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu__btn:focus {
  outline: none;
}

.menu__link {
  text-decoration: none;
  color: #000;
}

.menu__text {
  font-family: "Gothic A1", sans-serif;
  font-size: 20px;
  width: 80%;
  text-align: justify;
}
/*# sourceMappingURL=bar-style.css.map */