html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  max-width: 1340px;
  height: inherit;
  margin: 0 auto;
  padding: 0 30px;
}

body {
  background-color: #000;
  color: #fec300;
}

.nav {
  width: 100%;
  height: 120px;
  -webkit-box-shadow: 0 4px 6px #fec300;
          box-shadow: 0 4px 6px #fec300;
}

.navigation {
  height: inherit;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Anton", sans-serif;
}

.navigation__left, .navigation__right {
  width: 50%;
}

.navigation__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__right {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.3rem;
}

.navigation__logo {
  height: 100%;
}

.navigation__link {
  text-decoration: none;
  color: #fec300;
}

.navigation__link--btn {
  color: #000;
}

.navigation__lang-switch {
  font-family: "Anton", sans-serif;
  background-color: #fec300;
  border: none;
  -webkit-box-shadow: 3px 3px 0 #fff;
          box-shadow: 3px 3px 0 #fff;
  padding: 5px 15px;
}

.navigation__lang-switch:active {
  -webkit-transform: translateX(3px) translateY(3px);
          transform: translateX(3px) translateY(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navigation__burger {
  display: none;
}

@media (max-width: 1300px) {
  .navigation__right {
    width: 70%;
  }
}

@media (max-width: 1150px) {
  .navigation__right {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .navigation {
    height: 100px;
  }
  .navigation__right {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    z-index: 1;
    pointer-events: none;
    font-size: 18px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .navigation__list-item {
    padding: 30px;
  }
  .navigation__burger {
    z-index: 50;
    position: absolute;
    top: 0.7rem;
    right: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
    height: 80px;
    border: none;
    background: inherit;
  }
  .navigation__burger:focus {
    border: none;
    background-color: inherit;
    outline: none;
  }
  .navigation__burger-line--top, .navigation__burger-line--middle, .navigation__burger-line--bottom {
    content: "";
    position: absolute;
    width: 45px;
    height: 5px;
    background: #fec300;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-box-shadow: 2px 2px 0 #fff;
            box-shadow: 2px 2px 0 #fff;
  }
  .navigation__burger-line--top {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  .navigation__burger-line--bottom {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  .menu--open {
    opacity: 1;
    pointer-events: unset;
    overflow: hidden;
  }
  .burger--open {
    position: fixed;
    overflow: hidden;
  }
  .middleLine--open {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    -webkit-box-shadow: 2px 0 0 #fff;
            box-shadow: 2px 0 0 #fff;
  }
  .topLine--open {
    -webkit-transform: rotateZ(315deg);
            transform: rotateZ(315deg);
    -webkit-box-shadow: 0 2px 0 #fff;
            box-shadow: 0 2px 0 #fff;
  }
  .bottomLine--open {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    -webkit-box-shadow: 0 2px 0 #fff;
            box-shadow: 0 2px 0 #fff;
  }
}

.hero {
  min-height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.hero__img-container1 {
  height: calc(100vh - 120px);
}

.hero__img--lady {
  position: absolute;
  height: 67%;
  -webkit-transform: rotate(17deg) translateY(18%);
          transform: rotate(17deg) translateY(18%);
}

.hero__header {
  font-family: "Anton", sans-serif;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 54px;
  text-shadow: 2px 2px 0 #fff;
  letter-spacing: 3px;
  position: relative;
  -webkit-transform: translateY(-200%) translateX(25%);
          transform: translateY(-200%) translateX(25%);
}

.hero__img-container2 {
  height: calc(100vh - 120px);
}

.hero__img--hand {
  height: 100%;
  position: absolute;
  -webkit-transform: rotateZ(-10deg) translateX(-85%) translateY(-13%);
          transform: rotateZ(-10deg) translateX(-85%) translateY(-13%);
}

@media (max-width: 1660px) {
  .hero__header {
    -webkit-transform: translateY(-70%) translateX(10%);
            transform: translateY(-70%) translateX(10%);
    width: 60%;
    text-align: right;
  }
}

@media (max-width: 1260px) {
  .hero__header {
    font-size: 48px;
    width: 60%;
  }
}

@media (max-width: 850px) {
  .hero {
    height: calc(100vh - 100px);
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (50%)[2];
        grid-template-rows: repeat(2, 50%);
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__img--lady {
    position: static;
    -webkit-transform: rotate(17deg) translateY(80%) translateX(50%);
            transform: rotate(17deg) translateY(80%) translateX(50%);
    height: 40%;
  }
  .hero__header {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: 2/1;
    position: unset;
    font-size: 30px;
    text-align: left;
    padding: 0 0 20px 10px;
    -webkit-transform: unset;
            transform: unset;
  }
  .hero__img-container2 {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: 2/2;
    margin: auto;
  }
  .hero__img--hand {
    position: unset;
    -webkit-transform: unset;
            transform: unset;
    float: right;
    width: 100%;
    height: auto;
  }
}

.about-us {
  min-height: 100vh;
  margin-top: 150px;
}

.about-us__header {
  display: inline-block;
  font-family: "Anton", sans-serif;
  font-size: 2.3rem;
  padding: 40px 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.about-us__paragraph--odd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px 0;
}

.about-us__text--odd {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: right;
  vertical-align: middle;
  padding-right: 120px;
}

.about-us__img--odd {
  height: 380px;
  -webkit-box-shadow: 10px -10px 0 #fff;
          box-shadow: 10px -10px 0 #fff;
}

.about-us__paragraph--even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 50px 0;
}

.about-us__text--even {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-align: left;
  vertical-align: middle;
  padding-left: 120px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about-us__img--even {
  height: 380px;
  -webkit-box-shadow: -10px 10px 0 #fff;
          box-shadow: -10px 10px 0 #fff;
}

.about-us__img--odd {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about-us__last-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about-us__last-paragraph--mobile {
  display: none;
}

@media (max-width: 1024px) {
  .about-us__img--odd {
    float: left;
    margin: 15px 15px 15px 0;
    -webkit-box-shadow: -10px -10px 0 #fff;
            box-shadow: -10px -10px 0 #fff;
  }
  .about-us__img--even {
    float: right;
    margin: 15px 0 15px 15px;
    -webkit-box-shadow: 10px -10px 0 #fff;
            box-shadow: 10px -10px 0 #fff;
  }
  .about-us__img--odd, .about-us__img--even {
    height: calc(80vw - 380px);
    max-height: 280px;
  }
  .about-us__text--odd {
    padding-right: 20px;
  }
  .about-us__text--even {
    padding-left: 20px;
  }
}

@media (max-width: 735px) {
  .about-us {
    min-height: unset;
    margin: 30px 0;
  }
  .about-us__header {
    font-size: 1.6rem;
    -webkit-transform: unset;
            transform: unset;
  }
  .about-us__paragraph--odd, .about-us__paragraph--even {
    display: block;
    padding: 0;
    margin: 30px 0;
  }
  .about-us__text--odd, .about-us__text--even {
    text-align: justify;
    vertical-align: top;
    font-size: 16px;
    padding: 0;
  }
  .about-us__last-paragraph {
    display: none;
  }
  .about-us__last-paragraph--mobile {
    display: block;
    width: 100%;
    padding: 0;
  }
  .about-us__img--odd, .about-us__img--even {
    height: calc(80vw - 180px);
    max-height: 280px;
  }
}

.menu {
  min-height: 100vh;
  margin-top: 100px;
}

.menu__header {
  font-family: "Anton", sans-serif;
  font-size: 2.3rem;
  text-align: center;
  padding: 50px 0;
}

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
}

.menu__left, .menu__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__img--hand {
  position: absolute;
  height: 43%;
  -webkit-transform: rotateZ(10deg) translateY(-25vh);
          transform: rotateZ(10deg) translateY(-25vh);
  left: -7%;
}

.menu__btn {
  font-family: "Anton", sans-serif;
  font-size: 2.3rem;
  padding: 20px 70px;
  background-color: #fec300;
  border: none;
  -webkit-box-shadow: 3px 3px 0 #fff;
          box-shadow: 3px 3px 0 #fff;
}

.menu__btn:active {
  -webkit-transform: translateX(3px) translateY(3px);
          transform: translateX(3px) translateY(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.menu__btn:focus {
  outline: none;
}

.menu__link {
  text-decoration: none;
  color: #000;
}

.menu__text {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  width: 55%;
  line-height: 1.6rem;
}

@media (max-width: 1260px) {
  .menu__img--hand {
    height: 30%;
  }
}

@media (max-width: 700px) {
  .menu {
    margin-top: 60px;
    padding-top: 40px;
  }
  .menu__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .menu__header {
    padding: 10px;
    font-size: 1.6rem;
  }
  .menu__left {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 60px 0;
  }
  .menu__img--hand {
    display: none;
  }
  .menu__text {
    width: 100%;
    line-height: unset;
    padding-bottom: 60px;
    font-size: 16px;
    text-align: justify;
  }
}

.gallery {
  min-height: 100vh;
}

.gallery__header {
  font-family: "Anton", sans-serif;
  font-size: 2.3rem;
  text-align: right;
  padding: 40px 200px;
}

.gallery__image {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 700px) {
  .gallery__header {
    padding: 20px 20px 20px 0;
  }
}

.contact {
  margin-top: 200px;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.contact__left, .contact__right {
  width: 50%;
}

.contact__left {
  margin-right: 100px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__right {
  margin-left: 100px;
}

.contact__header {
  font-family: "Anton", sans-serif;
  letter-spacing: 2px;
  font-size: 2.3rem;
  text-shadow: 2px 2px 0 #fff;
}

.contact__email, .contact__phone {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.contact__link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  color: #fec300;
}

.contact__link--logo {
  height: 100%;
  width: 40%;
}

.contact__see-also {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact__see-also--text {
  font-family: "Anton", sans-serif;
  font-size: 2.3rem;
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 500px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 500px;
}

@media (max-width: 1024px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 50px;
  }
  .contact__left, .contact__right {
    width: 100%;
    margin: 30px auto;
    text-align: center;
  }
  .contact__left {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    height: 350px;
  }
  .contact__header {
    font-size: 1.6rem;
  }
  .contact__email, .contact__phone {
    font-size: 16px;
  }
  .contact__see-also {
    margin-top: auto;
  }
  .contact__link--logo {
    width: 70%;
  }
  .gmap_canvas {
    width: 80vw;
    height: 80vw;
  }
  .mapouter {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
  }
  iframe {
    width: 80vw;
    height: 80vw;
  }
}

@media (min-width: 650px) and (max-width: 1024px) {
  .contact__link--logo {
    width: 25%;
  }
}

.footer {
  width: 100%;
  height: 120px;
  -webkit-box-shadow: 0 -4px 6px #fec300;
          box-shadow: 0 -4px 6px #fec300;
  text-align: center;
}

.footer__credits {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.footer__credits--link {
  text-decoration: none;
  color: inherit;
}

.footer__link {
  font-size: 2rem;
  color: #fec300;
  padding: 15px;
}

.container__footer {
  max-width: 1340px;
  height: inherit;
  margin: 0 auto;
  padding: 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .container__footer {
    padding: 5px;
  }
  .footer__credits {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
  }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__link {
    font-size: 1.3rem;
    padding: 7px;
  }
}
/*# sourceMappingURL=bar-style.css.map */