html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  max-width: 1340px;
  height: inherit;
  margin: 0 auto;
  padding: 0 30px;
}

body {
  background-color: #fec300;
}

.hero {
  height: calc(100vh - 120px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__left, .hero__right {
  width: 50%;
  position: relative;
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__left--mobile {
  display: none;
}

.hero__img--left {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.hero__img--right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
}

@media (max-width: 1024px) {
  .hero__right {
    display: none;
  }
  .hero__left {
    display: none;
  }
  .hero__left--mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .hero__img-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__img--left {
    -webkit-transform: unset;
            transform: unset;
    width: 100%;
    height: auto;
  }
}

.nav {
  width: 100%;
  height: 120px;
  -webkit-box-shadow: 0 4px 6px #000;
          box-shadow: 0 4px 6px #000;
}

.navigation {
  height: inherit;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Gloria Hallelujah", cursive;
}

.navigation__left, .navigation__right {
  width: 50%;
}

.navigation__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__right {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.3rem;
}

.navigation__logo {
  height: 100px;
}

.navigation__link {
  text-decoration: none;
  color: #000;
}

.navigation__link--btn {
  color: #fec300;
}

.navigation__lang-switch {
  font-family: "Gloria Hallelujah", cursive;
  background-color: #000;
  border: none;
  -webkit-box-shadow: 3px 3px 0 #fff;
          box-shadow: 3px 3px 0 #fff;
  padding: 5px 15px;
}

.navigation__lang-switch:active {
  -webkit-transform: translateX(3px) translateY(3px);
          transform: translateX(3px) translateY(3px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navigation__burger {
  display: none;
}

@media (max-width: 1300px) {
  .navigation__right {
    width: 70%;
  }
}

@media (max-width: 1150px) {
  .navigation__right {
    width: 85%;
  }
}

@media (max-width: 1024px) {
  .navigation__right {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fec300;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    z-index: 1;
    pointer-events: none;
    font-size: 18px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
  }
  .navigation__list-item {
    padding: 30px;
  }
  .navigation__burger {
    z-index: 50;
    position: absolute;
    top: 0.7rem;
    right: 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80px;
    height: 80px;
    border: none;
    background: inherit;
  }
  .navigation__burger:focus {
    border: none;
    background-color: inherit;
    outline: none;
  }
  .navigation__burger-line--top, .navigation__burger-line--middle, .navigation__burger-line--bottom {
    content: "";
    position: absolute;
    width: 45px;
    height: 5px;
    background: #000;
    border-radius: 50px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-box-shadow: 2px 2px 0 #fff;
            box-shadow: 2px 2px 0 #fff;
  }
  .navigation__burger-line--top {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
  }
  .navigation__burger-line--bottom {
    -webkit-transform: translateY(12px);
            transform: translateY(12px);
  }
  .menu--open {
    opacity: 1;
    pointer-events: unset;
    overflow: hidden;
  }
  .burger--open {
    position: fixed;
    overflow: hidden;
  }
  .middleLine--open {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    -webkit-box-shadow: 2px 0 0 #fff;
            box-shadow: 2px 0 0 #fff;
  }
  .topLine--open {
    -webkit-transform: rotateZ(315deg);
            transform: rotateZ(315deg);
    -webkit-box-shadow: 0 2px 0 #fff;
            box-shadow: 0 2px 0 #fff;
  }
  .bottomLine--open {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    -webkit-box-shadow: 0 2px 0 #fff;
            box-shadow: 0 2px 0 #fff;
  }
}

.about-us {
  min-height: 100vh;
}

.about-us__header {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2.3rem;
  text-shadow: 3px 3px 0 #fff;
}

.about-us__paragraph--odd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 50px 0;
}

.about-us__text--odd {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 2rem;
  text-align: right;
  vertical-align: middle;
  padding-right: 100px;
  max-width: 550px;
}

.about-us__img--odd {
  height: 250px;
  -webkit-box-shadow: 10px -10px 0 #fff;
          box-shadow: 10px -10px 0 #fff;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about-us__paragraph--even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 50px 0;
}

.about-us__text--even {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 2rem;
  text-align: left;
  vertical-align: middle;
  padding-left: 100px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 550px;
}

.about-us__img--even {
  height: 250px;
  -webkit-box-shadow: -10px 10px 0 #fff;
          box-shadow: -10px 10px 0 #fff;
}

.about-us__last-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.about-us__last-paragraph--top, .about-us__last-paragraph--bottom {
  margin: 0px;
}

.about-us__last-paragraph--top {
  margin-bottom: 15px;
}

.about-us__last-paragraph--mobile {
  display: none;
}

@media (max-width: 1024px) {
  .about-us__img--odd {
    float: left;
    margin: 15px 15px 15px 0;
    -webkit-box-shadow: -10px -10px 0 #fff;
            box-shadow: -10px -10px 0 #fff;
  }
  .about-us__img--even {
    float: right;
    margin: 15px 0 15px 15px;
    -webkit-box-shadow: 10px -10px 0 #fff;
            box-shadow: 10px -10px 0 #fff;
  }
  .about-us__img--odd, .about-us__img--even {
    height: calc(80vw - 380px);
    max-height: 250px;
  }
  .about-us__text--odd {
    padding-right: 20px;
  }
  .about-us__text--even {
    padding-left: 20px;
  }
}

@media (max-width: 735px) {
  .about-us__header {
    font-size: 1.6rem;
  }
  .about-us__paragraph--odd, .about-us__paragraph--even {
    display: block;
    padding: 0;
    margin: 30px 0;
  }
  .about-us__text--odd, .about-us__text--even {
    text-align: justify;
    vertical-align: top;
    font-size: 16px;
    padding: 0;
    line-height: unset;
  }
  .about-us__last-paragraph {
    display: none;
  }
  .about-us__last-paragraph--mobile {
    display: block;
    width: 100%;
    padding: 0;
  }
  .about-us__img--odd, .about-us__img--even {
    height: calc(80vw - 180px);
    max-height: 280px;
  }
}

.courses__header {
  margin-top: 70px;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2.3rem;
  text-shadow: 3px 3px 0 #fff;
  text-align: left;
}

.courses__paragraph--odd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.courses__paragraph--even {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}

.courses__description--even {
  text-align: right;
}

.courses__title--odd, .courses__title--even {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2.3rem;
}

.courses__text--odd {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding-right: 160px;
  text-align: justify;
}

.courses__text--even {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  padding-left: 160px;
  text-align: justify;
}

.courses__img--odd, .courses__img--even {
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: top;
     object-position: top;
  width: 18%;
  margin-top: 36.8px;
}

.courses__list {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.courses__list--level-up {
  text-align: left;
  padding-left: 185px;
}

.courses__list--beginning {
  padding-left: 20px;
}

@media (max-width: 1024px) {
  .courses__header, .courses__title--odd, .courses__title--even {
    font-size: 1.6rem;
  }
  .courses__text--odd, .courses__text--even {
    font-size: 16px;
    padding: 0;
  }
  .courses__list {
    padding-left: 17px;
    font-size: inherit;
  }
  .courses__img--odd, .courses__img--even {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 735px) {
  .courses__header {
    margin-top: 80px;
  }
  .courses__img--odd, .courses__img--even {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-top: 0;
  }
  .courses__img--odd {
    float: right;
  }
  .courses__img--even {
    float: left;
  }
  .courses__paragraph--odd, .courses__paragraph--even {
    display: block;
    margin: 20px 0;
  }
  .courses__title--odd, .courses__title--even {
    margin: 0;
  }
  .courses__text--odd, .courses__text--even {
    text-align: justify;
  }
}

.contact {
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}

.contact__left, .contact__right {
  width: 50%;
}

.contact__left {
  margin-right: 100px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__right {
  margin-left: 100px;
}

.contact__header {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2.3rem;
  text-shadow: 3px 3px 0 #fff;
}

.contact__email, .contact__phone {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.contact__link {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.contact__link--logo {
  height: 100%;
  width: 40%;
}

.contact__see-also {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.contact__see-also--text {
  font-family: "Anton", sans-serif;
  font-size: 2.3rem;
  margin: 0;
}

iframe {
  width: 100%;
  height: 100%;
}

.mapouter {
  position: relative;
  text-align: right;
  height: 500px;
  width: 500px;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 500px;
  width: 500px;
}

@media (max-width: 1024px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact__left, .contact__right {
    width: 100%;
    margin: 30px auto;
    text-align: center;
  }
  .contact__left {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
    height: 350px;
  }
  .contact__header {
    font-size: 1.6rem;
  }
  .contact__email, .contact__phone {
    font-size: 16px;
  }
  .contact__see-also {
    margin-top: auto;
  }
  .gmap_canvas {
    width: 80vw;
    height: 80vw;
  }
  .mapouter {
    width: 80vw;
    height: 80vw;
    margin: 0 auto;
  }
  iframe {
    width: 80vw;
    height: 80vw;
  }
}

@media (min-width: 650px) and (max-width: 1024px) {
  .contact__link--logo {
    width: 25%;
  }
}

.footer {
  width: 100%;
  height: 120px;
  -webkit-box-shadow: 0 -4px 6px #000;
          box-shadow: 0 -4px 6px #000;
  text-align: center;
}

.footer__credits {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}

.footer__credits--link {
  text-decoration: none;
  color: inherit;
}

.footer__link {
  font-size: 2rem;
  color: #000;
  padding: 15px;
}

.container__footer {
  max-width: 1340px;
  height: inherit;
  margin: 0 auto;
  padding: 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .container__footer {
    padding: 5px;
  }
  .footer__credits {
    font-size: 16px;
    text-decoration: none;
    color: inherit;
  }
  .footer__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__link {
    font-size: 1.3rem;
    padding: 7px;
  }
}
/*# sourceMappingURL=school-style.css.map */